#main-content{
    margin-left: 5%;
    list-style-position: inside;
    font-size: 110%;
}

#main-content p{
    padding-left: 2rem;
}

#main-content h1{
    margin:1rem;
    text-decoration: underline;
}

ul{
    margin-left: 1rem;
    
}

ul > li{
    margin-left: 1rem;
}

footer{
    margin-left: 3%;
}